<div class="container h-100" style="margin-top: 200px;">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">


                <h3 id="form-title">Checkout</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form #f="ngForm">

                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-plus-square"></i></span>
                        </div>
                        <input type="text" name="first_name" [(ngModel)]="count" placeholder="Count" class="form-control" disabled>
                    </div> <br>

                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><b>₹</b></span>
                        </div>
                        <input type="text" name="last_name" [(ngModel)]="cost" placeholder="Total" class="form-control" disabled>
                    </div> <br>

                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input type="button" class="btn btn-primary" (click)="checkoutProducts()" value="Proceed To Checkout">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>