<header>
    <div class="navContainer">
        <a href="#" class="logo"> E-Commerce App</a>
        <nav>
            <ul class="navList">
                <li class="navLi">
                    <a href="./register" routerLink="/register">Add Product</a>
                </li>
                <li class="navLi">
                    <a href="./user" routerLink="/user">User Info</a>
                </li>
                <li class="navLi">
                    <a href="./signup" routerLink="/signup">Sign Up</a>
                </li>
                <li class="navLi">
                    <a href="./login" routerLink="/login">Log In</a>
                </li>
                <li class="navLi">
                    <a href="./cart" routerLink="/cart">Cart</a>
                </li>
                <li class="navLi">
                    <a href="" routerLink="">Home</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div>
    <router-outlet></router-outlet>
</div>