body {
    margin: 0;
}

.navContainer {
    background-color: rgb(111, 0, 255);
}

.navContainer a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 200px;
    width: auto;
}

.navLi {
    float: right;
}

.navLi a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navLi a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}